
.center{
    text-align: center;
}
.right{
    text-align: right;
    margin-right: 150px;
}
.left{
    text-align: left;
    margin-left: 150px;
}
.marginL{
    margin-left: 10px;
}
.sfondo{
    background-color:DodgerBlue;
}
